@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background: #8faeb2;
}

header {
    background: #2c2c2c;
    color: white;
    padding: 15px;
    text-align: center;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

.cabecera {
    text-align: center;
    padding: 20px;
    background: #8faeb2;
}

#buscador {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}


.contenido {
    display: flex;
    background: #8faeb2;
}

.indice {
    width: 200px;
    background: lightgray;
    padding: 15px;
}

.indice ul {
    list-style: none;
    padding: 0;
}

.indice a {
    display: block;
    background: white;
    margin: 8px 0;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.indice a:hover {
    background: #ddd;
}


.centro {
    flex: 1;
    text-align: center;
}


.centro h2 {
    text-align: center;
    margin-top: 20px;
}

.artistas {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    gap: 20px;
}

.topCanciones {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.titulo-top {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: rgb(62, 62, 122);
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.bloque-top-canciones {
    margin-top: 35px;
    text-align: center;
}

.artista {
    text-align: center;
    transition: transform 0.2s;
}

.cancion {
    text-align: center;
    width: 300px;
}

.cancion img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 0;
    background: #efefef;
}

.cancion p:first-of-type {
    color: rgb(128, 89, 7);
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 4px;
}

.cancion p:last-of-type {
    color: brown;
    font-size: 14px;
    margin: 0;
}

.artista:hover {
    transform: scale(1.05);
}

.artista img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    background: lightgray;
}

.artista p {
    color: orange;
    margin-top: 8px;
}


.filtros {
    width: 200px;
    background: lightgray;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center; 
}

.filtros h2,
.filtros h3 {
    text-align: center;
}

.filtros h3 {
    color: red;
}

select, button {
    width: 80%;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 5px;
    border: none;
}


footer {
    background: #2c2c2c;
    color: white;
    text-align: center;
    padding: 15px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.cabecera {
    position: relative;
}

.detalles {
    background: #8faeb2;
    min-height: 100vh;
    padding: 18px 40px 50px;
}

.volver {
    position: absolute;
    top: 10px;
    left: 15px;
    text-decoration: none;
    color: #444;
    font-weight: 600;
}

.volver:hover {
    text-decoration: underline;
}

.contenido-artista {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 40px;
    align-items: start;
    margin-top: 20px;
}

.artistaInfo {
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
}

.artistaInfo img {
    display: block;
    width: 600px;
    height: 340px;
    object-fit: cover;
    margin-bottom: 20px;
    background: #efefef;
}

.artistaInfo p {
    max-width: 700px;
    margin: 18px auto 0;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    color: #111;
}

.artistaInfo h2{
    color: rgb(62, 62, 122);
    font-size: 48px;
    font-family: 'Playfair Display', serif; 
}

.datos-artista h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: rgb(62, 62, 122);
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-left: 10px;
}

.datos-artista h4 {
    margin-bottom: 28px;
    color: #111;
    font-size: 20px;
    margin-left: 10px;
}

.genero-titulo {
    color: blue;
    font-size: 30px;
    font-weight: bold;
}


.filtros {
    width: 180px;
    background: lightgray;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtros a {
    width: 100%;
    text-align: center;
    padding: 6px;
    margin: 5px 0;
    font-size: 14px;
    background: white;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.filtros a:hover {
    background: #ddd;
}

.cabecera {
    position: relative;
}

.login {
    position: absolute;
    top: 10px;
    left: 15px;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.login:hover {
    text-decoration: underline;
}


.volver {
    position: absolute;
    top: 35px;
    left: 15px;
    text-decoration: none;
    color: #444;
    font-weight: 600;
}

.volver:hover {
    text-decoration: underline;
}

.titulo-login {
    text-align: center;
    color: blue;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #8faeb2;
}

.login-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
}

.login-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form button {
    background: #2c2c2c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background: #444;
}

.registro {
    text-align: center;
    font-size: 14px;
}

.registro a {
    color: blue;
    text-decoration: none;
}

.titulo-novedades {
    font-family: 'Playfair Display', serif;
    color: blue;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
}


.subtitulo-novedades {
    color: blue;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 1px;
}

.fecha {
    font-size: 14px;
    margin-top: -5px;
}
.artista h2 {
    margin-bottom: 10px;
}

.centro {
    padding: 30px;
}